{
	"extends": [
		"eslint:recommended",
		"google"
	],
	"plugins": [
	],
	"parserOptions": {
		"ecmaVersion": 6,
		"sourceType": "module",
		"ecmaFeatures": {
			"jsx": true
		}
	},
	"env": {
		"browser": true,
		"node": true,
		"commonjs": true,
		"es6": true
	},
	"rules": {
		"semi": "error",
		"valid-jsdoc": "error",
		"no-undefined": "off"
	},
	"settings": {
	},
	"overrides": []
}
